# Virtual Environment
.venv/
venv/
ENV/

# Python Cache & Build
__pycache__/
*.pyc
*.pyo

# Generated Output Data
*.csv

# Exception: include sample CSV files
!dummy-restaurants.sample.csv

# OS Specific
.DS_Store

# Environment Variables & Keys
.env
*.pem
